*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.bgc{
    background-color: rgb(3,24,51);
}
.h1{
    animation: opcity 2s linear forwards;
}
@keyframes opcity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.page1_p{
    transform: translateY(400px);
    animation: translateY 0.5s linear 2s forwards;
}
.page1_div{
    transform: translateY(400px);
    animation: translateY 0.5s linear 2s forwards;
}
@keyframes translateY {
    from{
        opacity: 0;
        transform: translateY(400px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.page1_img{
    animation: img 5s linear forwards;
}
@keyframes img {
    0%{
        transform: scale3d(1, 1,1);
    }
    50%{
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100%{
        transform: scale3d(1.05, 1.05, 1.05);
    }
}
.nav1{
    border-bottom: 0.05rem solid red;
    padding-bottom: 0.2rem;
}
.box{
    width: 100%;
    overflow: hidden;
}
.box2{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.left{
    float: left;
    width: 4rem;
}
.left img{
    width: 100%;
}
.right{
    float: right;
}
.right ul li{
    float: left;
    color: #fff;
    font-size: 0.25rem;
    text-align: center;
    padding: 0.2rem 0.2rem 0;
}
.box .right .ul1{
    overflow: hidden;
    display: none;
    left: 0.1rem;
    margin-top: 0.15rem;
    position: absolute;
    z-index: 999;
}
.box .right .ul1 p{
    font-size: 0.14rem;
    padding: 0.2rem 0;
}
.box .right .li1{
    position: relative;
}
.box .right .ul2{
    overflow: hidden;
    display: none;
    left: 0rem;
    margin-top: 0.15rem;
    position: absolute;
    z-index: 999;
}
.box .right .ul2 p{
    font-size: 0.14rem;
    padding: 0.15rem;
}
.box .right .li2{
    position: relative;
}
.box .right .ul3{
    overflow: hidden;
    display: none;
    left: 0.1rem;
    margin-top: 0.15rem;
    position: absolute;
    z-index: 999;
}
.box .right .ul3 p{
    font-size: 0.14rem;
    width: 1rem;
    padding: 0.15rem;
}
.box .right .li3{
    position: relative;
}
.box .right .ul4{
    overflow: hidden;
    display: none;
    margin-top: 0.15rem;
    position: absolute;
    left: 0.05rem;
    z-index: 999;
}
.box .right .ul4 p{
    font-size: 0.14rem;
    width: 1rem;
    padding: 0.16rem;
}
.box .right .li4{
    position: relative;
}
/*page2*/
.page2{
    width: 100%;
    margin-bottom: 1rem;
}
.page2 .page2_container{
    width: 90%;
    margin: 0px auto;
}
.page2 .page2_container p{
    color: #005BAC;
    font-size: 0.3rem;
    margin: 0.5rem 0px;
    text-align: center;
}
.page2 .page2_container .page2_one{
    overflow: hidden;
    width: 50%;
    float: left;
    height: 223px;
}
.page2 .page2_container .page2_one .page2_left{
    float: left;
}
.page2 .page2_container .page2_one .page2_left img{
    width: 2.6rem;
}
.page2 .page2_container .page2_one .page2_right{
    float: left;
    width: 50%;
}
.page2 .page2_container .page2_one .page2_right p:nth-child(1){
    font-size: 0.2rem;
    color: #666;
    font-weight: bolder;
}
.page2 .page2_container .page2_one .page2_right p:nth-child(2){
    font-size:12px;
    color: #727171;
    line-height:20px;
}
/*page3样式*/
.page3{
    width: 100%;
    position: relative;
}
.page3 img:nth-child(1){
    width: 100%;
}
.page3_container{
    position: absolute;
    width: 90%;
    margin: 0px auto;
    text-align: center;
}
.page3_container img:nth-child(1){
    width: 1.8rem;
    margin-top: 1.8rem;
}
.page3_container p:nth-child(2){
    font-size: 0.1rem;
    margin-bottom: 0.2rem;
    color: #fff;
    font-weight: bolder;
    font-size: 0.4rem;
    margin-top: 0.4rem;
    color: #fff;
}
.page3_container p:nth-child(3){
    font-size: 0.1rem;
    color: #fff;
    margin-bottom: 1rem;
}
.page3_container p:nth-child(4){
    color: #fff;
    width: 58%;
    text-align: left;
    margin: 0px auto;
    line-height: 1.6;
    text-align: left;
    font-size: 0.25rem;
}
/*page4*/
.page4{
    width: 100%;
    height: 9rem;
}
.page4_container{
    width: 85%;
    margin: 0px auto;
    overflow: hidden;
}
.page4_container div{
    width: 21%;
    float: left;
    text-align: center;
    padding: 0.3rem;
}
.page4_container div p:nth-child(2){
    color: #005bac;
    font-size: 0.26rem;
    font-weight: bolder;
}
.page4_container div p:nth-child(3){
    color: #005bac;
    font-size: 0.26rem;
    font-weight: bolder;
}
.page4_container div p:nth-child(4){
    color: #666;
    font-size: 0.2rem;
    line-height: 1.6;
    text-align: left;
    margin-top: 0.6rem;
}
/*page5*/
.page5{
    width: 100%;
    background-color: #DCDDDD;
    height: 10rem;
}
.page5 .title{
    color: #005BAC;
    font-size: 0.4rem;
    padding-top: 1rem;
    margin-bottom: 0.2rem;
    text-align: center;
    font-weight: bolder;
}
.page5 .title_1{
    font-size: 0.2rem;
    color: #666;
    margin-bottom: 1rem;
    text-align: center;
}
.page5_container{
    width: 85%;
    margin: auto;
    overflow: hidden;
}
.page5_container div{
    width: 30%;
    float: left;
}
.page5_container div img{
    width: 100%;
}
.page5_container div .p1{
    text-align: center;
    font-size: 0.3rem;
    font-weight: bolder;
    margin: 0.3rem 0px;
    color: #005BAC;
}
.page5_container div .p2{
    font-size: 0.2rem;
    color: #666;
    text-align: left;
    line-height: 2;
}
.end{
    width: 100%;
    text-align: center;
    color: #fff;
    height:0.9rem;
    line-height:0.9rem;
    background-color: #404040;
    font-size: 0.2rem;
}
.end img{
    width: 18px;
}
.end span:nth-child(2){
    margin: 0px 0.15rem;
}
.end .span1{
    position: relative;
    display: inline-block;
}
.end .span1 img:nth-child(2){
    position: absolute;
    width: 2rem !important;
    bottom: 0.8rem;
    left: -0.8rem;
    display: none;
}
.end .span2{
    position: relative;
    display: inline-block;
}
.end .span2 img:nth-child(2){
    position: absolute;
    width: 2rem !important;
    bottom: 0.8rem;
    left: -0.7rem;
    display: none;
}
/*返回顶部按钮*/
.row{
    width: 0.6rem;
    height: 0.6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    bottom: 2%;
    right: 2%;
    opacity: 0;
}
.back img{
    position: absolute;
    top: 50%;
    margin-top: 0.23rem;
    left: 50%;
    margin-left: -7px;
}
.back{
    position: relative;
}
.backTop{
    animation: back 0.5s linear forwards;
}
@keyframes back {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.backOut{
    animation: out 0.3s linear forwards;
}
@keyframes out {
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}